{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-6-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 d-flex justify-content-center">{% trans "ورود" %}</h3>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% if login_form.errors %}
                                    <div class="alert alert-danger">
                                        {{ login_form.errors }}
                                    </div>
                                {% endif %}
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div data-mdb-input-init class="form-outline">
                                            <input type="tel" name="{{ login_form.phone_number.name }}"
                                                   id="phoneNumber" required class="form-control form-control-lg"
                                                   value="{{ login_form.phone_number.value|default_if_none:'' }}">
                                            <label class="form-label" for="phoneNumber">{% trans "شماره تلفن" %}</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline">
                                            <input dir="ltr" type="password" name="{{ login_form.password.name }}"
                                                   id="password" required class="form-control form-control-lg"
                                                   value="">
                                            <label class="form-label" for="password">{% trans "رمز عبور" %}</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="mt-4 pt-2 d-flex justify-content-center">
                                            <input data-mdb-ripple-init
                                                   class="btn btn-primary btn-lg d-flex justify-content-center"
                                                   type="submit"
                                                   value="{% trans "ورود" %}"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
