{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load translate_tags %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
{% endblock %}


{% block content %}
    <div class="pt-2">
        <div class="row top-header-image vlog-cover-bg">
            <img src="{{ post.thumbnail.url }}" class="img-fluid" style="border-radius: 30px;"
                 alt="{% translate_field post title %}">
        </div>
        <div class="row post-sections">
            <div class="main-content col-lg-8  col-12" style="padding-left: 60px">
                <h1 class="pt-3">
                    {% if post.is_premium %}
                        <img style="width: 50px; position: relative"
                             src="{% static 'posts/premium.png' %}">
                    {% endif %}
                    {% translate_field post title %}
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'post:add_favorite' post.slug %}">
                            {% if is_favorite %}
                                <img style="position: relative; width: 25px;" src="{% static 'posts/heart-red.png' %}">

                            {% else %}
                                <img style="position: relative; width: 25px;" src="{% static 'posts/heart.png' %}">
                            {% endif %}
                        </a>
                    {% endif %}
                </h1>
                <div class="row">
                    <div class="tab_container">
                        <section id="content" class="tab-content">
                            {% translate_field post description %}
                            {#{{ post.description|safe }}#}
                        </section>

                    </div>
                </div>
                <div class="container mt-4 pt-3"
                     style="display: flex;flex-direction: column;align-items:center;border-top: 2px solid #d0d0d0">
                    {% if request.user.is_authenticated %}
                        <div style="align-items: center">
                            <p style="align-self: center">{% trans "نظر خود را بنویسید" %}</p>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}

                            <div>

                                {% for field in comment_form %}
                                    {{ field }}
                                {% endfor %}
                                <div style="direction: ltr">
                                    <input type="submit" value="{% trans "ثبت" %}" class="btn btn-primary my-3 w-25"
                                           style="border-radius: 10px;">
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <p class="alert alert-danger h4">{% trans "برای ثبت نظر لطفا وارد شوید" %}</p>
                    {% endif %}
                </div>
                <div id="comment-div"></div>
            </div>
            <div class="sidebar mt-4 col-lg-4 col-12">
                <div class="related-posts desktop">
                    <div class="section-title mx-3">
                        <h3>{% trans "پست های مشابه" %}</h3>
                    </div>
                    <div class="card-holder p-4" style="display: flex">
                        {% for similar_post in similar_posts %}
                            <a href="{% url 'post:post_detail' similar_post.slug %}" class="card card-mid"
                               style="text-decoration:none;border-radius: 15px; width: 100%; overflow: hidden">
                                <div class="card-image">
                                    <img src="{{ similar_post.thumbnail.url }}" class="img-fluid"
                                         alt="{% translate_field similar_post title %}">
                                </div>
                                <div class="card-body">
                                    <span class="card-title" style="font-size: 20px">{% translate_field similar_post title %}</span>
                                    {% if similar_post.is_premium %}
                                        <div style="position:absolute; bottom: 5px; left: 5px">
                                            <img style="width: 35px; height: auto"
                                                 src="{% static 'posts/premium.png' %}" alt="premium">
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_script %}
    <script>
        window.onload = function show_comments() {
            const div_element = document.getElementById('comment-div')
            const comments = {{ comments | safe }}
            let comment_div = '';
            for (const comment of comments) {
                comment_div += render_comment(comment)
            }
            div_element.innerHTML = comment_div
        }

        function render_comment(comment) {
            let comment_div = ''
            if (comment.is_reply) {
                comment_div = '<div class="card mx-3 mt-2 mb-4">'
            } else {
                comment_div = '<div class="card mb-4">'
            }
            comment_div += `<div style="display:flex;gap: 15px; align-items: center"
             class="card-header">${comment.author} | ${comment.solar_show_date}
            {% if request.user.is_authenticated %}
                <span class="btn btn-primary"
                      onclick='add_reply_form(this,${comment.pk});'>{% trans "پاسخ" %}</span>

            {% endif %}
        </div>
        <div id="comment-${comment.pk}" class="card-body">${comment.body}</div>`

            {#<div class="card m-2">#}
            {#    <div style="display:flex;gap: 15px; align-items: center"#}
            {#         class="card-header">{{ reply.author }} | {{ reply.solar_show_date }}#}
            {#        {% if request.user.is_authenticated %}#}
            {#            <span class="btn btn-primary"#}
            {#                  onclick='add_reply_form(this,"1");'>پاسخ</span>#}
            {#        {% endif %}#}
            {#    </div>#}
            {#    <div id="comment-{{ reply.pk }}" class="card-body">{{ reply.body }}</div>#}
            {##}
            {#</div>#}
            if (comment.child) {
                for (const reply of comment.child) {
                    comment_div += render_comment(reply)
                }
            }
            comment_div += '</div>'
            return comment_div
        }

        function add_reply_form(res_element, comment_pk) {
            const node = document.createElement("div");
            node.id = 'reply_form_div';
            node.className = "container mt-4 pt-3";
            node.style = "display: flex;flex-direction: column;align-items:center;border-top: 2px solid white";
            var url = "{% url 'post:add_reply' post.slug 123456789 %}".replace(/123456789/, comment_pk);
            node.innerHTML = `
                {% if request.user.is_authenticated %}
                    <div style="align-items: center">
                        <p style="align-self: center">{% trans "پاسخ خود را بنویسید" %}</p>
                    </div>
                    <form action="${url}" method="post">
                        {% csrf_token %}
                        <div>
                            {% for field in reply_form %}
                                {{ field }}
                            {% endfor %}
                            <div style="direction: ltr">
                                <input type="submit" value="{% trans "ثبت" %}" class="btn btn-primary my-3 w-25"
                                       style="border-radius: 10px;">
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p class="alert alert-danger">{% trans "برای نوشتن نظر باید وارد شوید" %}</p>
                {% endif %}
            `;
            document.getElementById(`comment-${comment_pk}`).appendChild(node);
            res_element.innerHTML = "{% trans "لغو پاسخ" %}";
            res_element.setAttribute('onClick', `remove_reply_form(this,'${comment_pk}')`);

        }

        function remove_reply_form(res_element, comment_pk) {
            const comment = document.getElementById(`comment-${comment_pk}`);
            const form_div = comment.querySelector('#reply_form_div');
            if (form_div) {
                form_div.remove();
                res_element.innerHTML = "{% trans "پاسخ" %}";
                res_element.setAttribute('onClick', `add_reply_form(this,'${comment_pk}')`);
            }
        }

    </script>
{% endblock %}

{#{% block content %}#}
{#    <div class="container">#}
{#        <img src="{{ post.thumbnail.url }}" class="card-img-top post-image" alt="{{ post.title }}">#}
{#    </div>#}
{#    <div class="card mb-3">#}
{#        <div class="card-body">#}
{#            <h2 class="card-title">{{ post.title }}</h2>#}
{#            <p class="card-text"><small class="text-body-secondary">{{ post.created_time|date:"F j, Y, g:i a" }}</small>#}
{#            </p>#}
{#            <div class="card-text">#}
{#                <p>{{ post.description|safe }}</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}